@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

section {
	width: 100%;
	padding: 20px 0;
}

/* Navbar Styling  */
body > .navbar {
	padding: 20px;
}

.navbarBrand {
	padding-right: 20px;
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 900;
}

.nav-item > a {
	color: black;
	font-weight: 700;
}

.search-input {
	font-size: 14px;
	border-radius: 50px;
	padding: 10px;
	border: none;
	background-color: #E9E9E9;
}

.search-input:focus {
	outline: none;
	border: none;
}

/* Page Home Styling  */
.products > .container {
	width: 100%;
	padding: 50px;
}

.products > center > a {
	display: inline-block;
	color: black;
	background-color: white;
	padding: 15px 20px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 0.5px;
}

.categories > .container {
	padding: 50px;
}

.categories > .container > div {
	width: 300px;
	height: 350px;
	background-color: black;
	cursor: pointer;
}

.jacket {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jacket > h1 {
	color: white;
	font-weight: 800;
}

.pants {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.pants > h1 {
	color: white;
	font-weight: 800;
}

.tshirt {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.tshirt > h1 {
	color: white;
	font-weight: 800;
}

/* Page About Styling */
.about {
	padding: 40px 0;
}

.about h2 {
	font-weight: 700;
	text-align: center;
	margin-bottom: 4rem;
}

.about p:nth-child(4) {
	margin-bottom: 4rem;
}

/* Page All Products  */
.all-products {
	padding: 40px 0;
}

.all-products h3 {
	font-weight: 700;
}

/* Page Detail Product  */
.product {
	padding: 50px 0;
}

.product > .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.product-image {
	background-color: crimson;
	flex: 1;
}

.product-detail {
	padding: 20px 40px;
	flex: 1;
}

.product-detail > h2 {
	font-weight: 700;
}

.detail-price {
	font-size: 14px;
	font-weight: 600;
}

.product-detail > p {
	font-size: 14px;
} 

.detail-button > a {
	display: inline-block;
	padding: 10px 40px;
	text-decoration: none;
	border: 3px solid black;
	color: black;
	font-weight: 600;
}

.detail-button > a:nth-child(1) {
	color: white;
	transition: 1s;
}

.detail-button > a:nth-child(1):hover {
	background-color: white;
	color: black;
}

.detail-button > a:nth-child(2) {
	transition: 0.5s;
}

.detail-button > a:nth-child(2):hover {
	background-color: black;
	color: white;
}

.detail-size > * {
	font-size: 14px;
}

.detail-size > .btn {
	font-size: 14px;
}

.detail-qty {
	font-size: 14px;
}

.qty-input {
	width: 50px;
	border: 1px solid #dcdcdc;
	padding: 3px;
	text-align: center;
}

/* Cart Styling */
.cart {
	padding: 40px 0;
}

.cart h2 {
	font-weight: 700;
	margin-bottom: 20px;
}

.cart-detail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cart-detail .img-product {
	width: 200px;
	height: 250px;
	background-color: crimson;
}

.cart-img__title {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.title_product > * {
	margin-left: 20px;
	font-weight: 700;
	text-decoration: none;
	color: black;
}

.title_product > .remove__button {
	padding: 10px 20px;
	border: 2px solid black;
	background-color: black;
	color: white;
	transition: 0.7s;
}

.title_product > .remove__button:hover {
	background-color: white;
	color: black;
}

.cart-qty__price {
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
}

.qty__detail {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.qty__detail > * {
	font-weight: 700;
}

.qty__detail > .qty__cart {
	border: 1px solid #dcdcdc;
	padding: 3px;
	text-align: center;
	max-width: 70px;
}

.price__detail {
	text-align: center;
}

.price__detail p {
	font-size: 14px;
	font-weight: 800;
}

.checkout-button {
	display: flex;
	justify-content: flex-end;
}

.checkout-button > a{
	padding: 10px 20px;
	background-color: black;
	border: 2px solid black;
	color: white;
	font-weight: 700;
	text-decoration: none;
	transition: 0.7s;
}

.checkout-button > a:hover {
	color: black;
	background-color: white;
}

/* Login Page Styling */
.login-page {
	margin: 10rem 0;
}

.login-page h2 {
	margin-bottom: 30px;
	font-weight: 700;
}

.login-card {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.login-card label {
	font-weight: 700;
}

.login-card input {
	margin-bottom: 20px;
	border: 1px solid #d3d3d3;
	padding: 5px;
}

.login-card > button {
	margin-bottom: 15px;
	border: 2px solid black;
	background-color: black;
	color: white;
	padding: 10px 0;
	font-weight: 700;
}

.login-card a {
	font-size: 12px;
	text-decoration: none;
	font-weight: 600;
	color: black;
}

/* Footer Styling */
footer {
	width: 100%;
	height: 400px;
	padding: 50px;
	position: relative;
}

footer h1 {
	font-size: 3em;
	color: white;
	font-weight: 800;
}

footer i {
	font-size: 20px;
	color: white;
	margin: 30px;
	margin-left: 0;
}

footer .information {
	display: flex;
	flex-direction: column;
	color: white;
	padding: 20px;
}

footer .information > h5 {
	font-weight: 700;
	letter-spacing: 0.5px;
}

footer .information > a {
	display: block;
	font-size: 12px;
	color: whitesmoke;
	text-decoration: none;
	margin: 5px 0;
}

footer .main-menu {
	display: flex;
	flex-direction: column;
	color: white;
	padding: 20px;
}

footer .main-menu > h5 {
	font-weight: 700;
	letter-spacing: 0.5px;
}

footer .main-menu > a {
	display: block;
	font-size: 12px;
	color: whitesmoke;
	text-decoration: none;
	margin: 5px 0;
}

footer > p {
	padding-bottom: 20px;
	position: absolute;
	font-weight: 700;
	color: white;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
}

/* Background Color Options */
.bg-black {
	background-color: black;
}

/* Optional Class */
.primary {
	background-color: black;
	color: white;
}
